@import './custom.scss';

body {
  margin: 0;
  font-size: 14pt;
  font-family: 'Mukta', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: lightgrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-Loading, .App-Login, .App-Error {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Table Footer Styling */
.Footer-Nav {
  margin: 0;
  padding: 0 18vw;
  display: flex;
  justify-content: space-around;
  background-color: #FAFAFA;
}

.Footer-Nav-Link {
  padding: 5px 10px;
  color: #00008b;
  background-color: transparent;
  border: none;
  list-style: none;
}

.Footer-Nav-Link:hover {
  color: dimgray;
  cursor: pointer;
}

.Footer-Label {
  display: flex;
}
.Footer-Input {
  width: 45px;
  margin: 0 5px;
  text-align: center;
}
.Footer-Input:focus {
  border: none;
}


/* Cards Component Styling */
.App-Cards {
  padding: 0 15vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Card {
  margin: 20px;
  min-width: 250px;
  height: 100px;
  background-color: #eaeaea;
  border-radius: 10px;
}

.Card:hover {
  cursor: pointer;
}

/* Table Component Styling */
.Table {
  width: 100vw;
  min-height: 70vh;
  background-color: #EAEAEA;
}

table {
  padding: 0 15vw;
}

th, td {
  padding: 3px 10px;
  vertical-align: top;
  text-align: left;
  font-size: 0.8em;
}